---
title: Guides
permalink: /guides/
excerpt: "A collection of useful background information and tutorials related to building maintenance."
layout: archive
header:
  teaser: https://c1.staticflickr.com/5/4577/23886520277_71200e4964_z.jpg
  overlay_image: https://c1.staticflickr.com/5/4577/23886520277_a29bca8b44_h.jpg
  overlay_filter: .2
  caption: "EBLO (Education-Based Latino Outreach)/Former Enoch Pratt Free Library Branch No. 19, 610 S. Ann Street, 2017 November 29. [Baltimore Heritage](https://www.flickr.com/photos/baltimoreheritage/23886520277/) ([CC 0](https://creativecommons.org/licenses/publicdomain/))"
---

{% include group-by-array collection=site.guides field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
